html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: white;
  padding: 10px; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #0f0; }

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  background-color: #00f; }

.first, .second, .third, .fourth {
  height: 400px;
  width: auto;
  margin-top: 15px;
  width: auto;
  display: block;
  position: relative; }

.first::after, .second::after, .third::after, .fourth::after {
  background-size: cover;
  background-position: center; }

.first::after, .second::after, .third::after, .fourth::after {
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.first, .second, .third, .fourth {
  opacity: .8; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans'; }

body {
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-size: 20px;
  color: purple;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid teal;
  background: white; }

.first, .second, .third, .fourth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .first:last-child, .second:last-child, .third:last-child, .fourth:last-child {
    margin-right: 0; }
  @media (max-width: 1100px) {
    .first, .second, .third, .fourth {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .first:last-child, .second:last-child, .third:last-child, .fourth:last-child {
        margin-right: 0; }
      .first:nth-child(2n), .second:nth-child(2n), .third:nth-child(2n), .fourth:nth-child(2n) {
        margin-right: 0; }
      .first:nth-child(2n+1), .second:nth-child(2n+1), .third:nth-child(2n+1), .fourth:nth-child(2n+1) {
        clear: left; } }
  @media (max-width: 700px) {
    .first, .second, .third, .fourth {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .first:last-child, .second:last-child, .third:last-child, .fourth:last-child {
        margin-right: 0; } }

.first {
  background-color: #FD9446;
  background-image: -webkit-linear-gradient(#FD9446, #D03986);
  background-image: linear-gradient(#FD9446, #D03986); }
  .first::after {
    background-image: url("../img/coast.jpg"); }

.second {
  background-color: #2A9898;
  background-image: -webkit-linear-gradient(#2A9898, #5140AF);
  background-image: linear-gradient(#2A9898, #5140AF); }
  .second::after {
    background-image: url("../img/crystal.jpg"); }

.third {
  background-color: #2FAC7A;
  background-image: -webkit-linear-gradient(#2FAC7A, #C5F042);
  background-image: linear-gradient(#2FAC7A, #C5F042); }
  .third::after {
    background-image: url("../img/plant.jpg"); }

.fourth {
  background-color: #5140AF;
  background-image: -webkit-linear-gradient(#5140AF, #D03986);
  background-image: linear-gradient(#5140AF, #D03986); }
  .fourth::after {
    background-image: url("../img/glasses.jpg"); }

.row {
  display: block;
  margin: auto; }

.column {
  float: left;
  padding: 1em;
  min-height: 100px; }

.wrapper {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }

.column {
  position: relative; }

.text-box {
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  bottom: 60px;
  left: 50%; }
  .text-box h4, .text-box p {
    font-size: 13px;
    background: white;
    opacity: 0.7;
    padding: 8px; }

button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300; }

/*# sourceMappingURL=app.css.map */
