// .first, .second, .third, .fourth {
//   @include span-columns(3 of 12);
//   // @extend %columns;
//   border: 1px solid black;
//   height: 400px;
//   @media #{$break-tablet} {
//     @include span-columns(6 of 12)
//   }
// }

.first, .second, .third, .fourth {
  // @extend %columns;
  @include outer-container(100%);
  border: 1px solid black;
  @include span-columns(3);
   @media #{$break-tablet} {
    @include span-columns(6);
    @include omega(2n);
  }
  @media #{$break-mobile} {
    @include span-columns(12);
  }
}

.row {
  display: block;
  margin: auto;
}

.column {
  float: left;
  padding: 3em;
  min-height: 100px;
}
