.first, .second, .third, .fourth {
  @extend %columns;
  @include span-columns(3);
   @media #{$break-tablet} {
    @include span-columns(6);
    @include omega(2n);
  }
  @media #{$break-mobile} {
    @include span-columns(12);
  }
}

.first {
  background: #176948;
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/coast.jpg');
    @extend %image-control;
  }
}

.second {
  background: #4D891F;
    @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/stag.jpg');
    @extend %image-control;
  }
}

.third {
  background: #8B1F3E;
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/plant.jpg');
    @extend %image-control;
  }
}

.fourth {
  background: #9A4622;
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/glasses.jpg');
    @extend %image-control;
  }
}

.row {
  display: block;
  margin: auto;
}

.column {
  float: left;
  padding: 1em;
  min-height: 100px;
}
