.first, .second, .third, .fourth {
  @extend %columns;
  @include span-columns(3);
   @media #{$break-tablet} {
    @include span-columns(6);
    @include omega(2n);
  }
  @media #{$break-mobile} {
    @include span-columns(12);
  }
}

.first {
  @include linear-gradient($cantelope, $fuschia);
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/coast.jpg');
    @extend %image-control;
  }
}

.second {
  @include linear-gradient($teal, $indigo);
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/crystal.jpg');
    @extend %image-control;
  }
}

.third {
  @include linear-gradient($green, $yellow);
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/plant.jpg');
    @extend %image-control;
  }
}

.fourth {
  @include linear-gradient($indigo, $fuschia);
  @extend %opacity;
  &::after {
    @extend %after;
    background-image: url('#{$path-img}/glasses.jpg');
    @extend %image-control;
  }
}

.row {
  display: block;
  margin: auto;
}

.column {
  float: left;
  padding: 1em;
  min-height: 100px;
}
