.wrapper {
  @include outer-container(85%);
  margin-top: 35px;
}

.column {
  position: relative;
}

.text-box {
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  bottom: 70px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  h4, p {
    color: #00001a;
    font-size: 20px;
    text-align: center;
    padding: 8px;
  }
}
