* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
}

body {
  // background: darken(#F8F8F8, 3%);
  background: white;
  -webkit-font-smoothing: antialiased;
}
