// colors
$green: #2FAC7A;
$yellow: #C5F042;

$teal: #2A9898;
$indigo: #5140AF;

$cantelope: #FD9446;
$fuschia: #D03986;

$ocean: #3571A3;
$lime: #6BD93C;

$special: darkorange;

$background: #333;


// grid
$grid-columns: 12;

// media queries
$break-tablet: '(max-width: 1100px)';
$break-mobile: '(max-width: 700px)';

// asset paths
$path-img: '../img';
$path-font: '../../fonts';

// button variables
#{$all-buttons} {
  background-color: white;
  padding: 10px;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: black;
  color: white;
}

#{$all-buttons-active} {
  background-color: $special;
}
